@using StockStimulationWebApp.Models

    @{
        Layout = "_Layout";
    }
<script src="~/js/moment.min.js"></script>
<script src="~/js/moment-timezone-with-data.min.js"></script>
    <link href="~/css/home.css" rel="stylesheet"/>
    <style>
        a.list:hover { color: black; }

        .thumbnail:hover { background-color: lightgray; }

        a.linkDetails { color: black; }

        a.grid:active { color: lightgray; }
    </style>
    <title>Stock Stimulation</title>
<h2 class="col-xs-12 page-header" style="font-family: 'ABeeZee', sans-serif;">
        Stocks
        @*<span class=" btn-toolbar pull-right">
            <a class="btn list" id="" href="" onclick="">
                <i class="fa fa-list fa-2x" aria-hidden="true"></i>
            </a>
            <a class="btn grid" id="grid" href="">
                <i class="fa fa-th-large fa-2x" aria-hidden="true"></i>
            </a>
        </span>*@
    </h2>
@{ 
    
}


<div class="container" id="stocks">
    @*<table id="table" class="table table-striped table-hover " style="display: none; margin: 0%">
            <thead>
            <tr>
                <th class="text-left col-md-2 col-xs-2" style="font-size: 150%">Company</th>
                <th class="text-left col-md-3 col-xs-3" style="font-size: 150%">Symbol</th>
                <th class="text-left col-md-3 col-xs-3" style="font-size: 150%">Last</th>
                <th class="text-left col-md-2 col-xs-2 chng" style="font-size: 150%; padding-left: inherit">Change</th>
                <th class="text-left col-md-2 col-xs-2" style="font-size: 150%">%Change</th>
            </tr>
            </thead>
        </table>*@
        
    @{
        var jsondata = (shareSymbol)ViewData["data"];
    }
    <script type="text/javascript">
        
        var jsonStockSymbol;
        var length;
        var json;
        var stockListArr = [];
        $(document).ready(function () {
            $.getJSON( "Default/load/shareslist", function( json ) {
              jsonStockSymbol = JSON.parse(json);
                 length = Object.keys(jsonStockSymbol).length;

                // $("#products").load("/Default/loadData/" + jsonStockSymbol[1].Symbol);

                // $("#products2").load("/Default/loadData/" + jsonStockSymbol[2].Symbol);    
                 for (var i = 0; i < length; i++) {
                     var symbol = Object.keys(jsonStockSymbol)[i];
                     stockListArr[i] = symbol;
                     var url = symbol ;
                    $("<div/>").attr('id', 'stock' + i).appendTo('div#stocks');
                    $("#stock" + i).load("Default/load/shareshtml/" +url);
       
                    // + jsonStockSymbol[i].Symbol
                }
            });
        });


       
        $(document).ajaxStart(function () {
           console.log(stockListArr);
        });
        $(document).ajaxComplete(function () {
            console.log(stockListArr);

        });
    </script>
    <div id="products" class="row  list-group ">
        @*@foreach (var shares in Model)
            {
                @Html.Partial("_shares", shares);
                ;
            }*@
    </div>


<script src="~/js/home.js"></script>
 </div>       

